.form_backdrop.show {
    opacity: 0;
}
.modal-open {
    overflow: auto !important;
    padding-right: 0 !important;
}
.modal {
    padding-right: 0 !important; 
    pointer-events: none;
}
.modal-dialog,
.modal-content {
  pointer-events: auto;
}
.enquiry_form_div {
    --bs-modal-width: 521px;
    margin-right: 20px;
}
.enquiry_form_div .modal-content {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 15px;
}
.enquiry_form_div .modal-body {
    padding: 1.5rem;
}
.close_btn_enquiry {
    text-align: right;
    color: var(--color-white);
    font-size: 25px;
}
.close_btn_enquiry svg {
    cursor: pointer;
}
.enquiry_form_div .modal-content .heading3 {
    color: var(--color-white);
    margin-bottom: 2rem;
}
.enquiry_form_div .form-row {
    padding: 8px 0;
}
.enquiry_form_div .get_in_touch_form .form-row .form-control {
    border: 1px solid #CDCDCD;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--font-medium);
    color: #CDCDCD;
    padding: 13.5px 20px;
}
.enquiry_form_div .get_in_touch_form .form-row .form-control::placeholder,
.enquiry_form_div .PhoneInputInput,
.enquiry_form_div .PhoneInputInput::placeholder {
    color: #CDCDCD;
}
.enquiry_form_div .form-check .form-check-input {
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 0;
}
.enquiry_form_div .form-check .form-check-label {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    font-family: var(--font-medium);
    margin-left: 5px;
}
.enquiry_form_div .PhoneInputCountrySelectArrow {
    display: block !important;
}
.enquiry_form_div .get_in_touch_form .btn_submit_contact {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-medium);
    padding: 8.5px 20px;
    min-width: 141px;
}
.form-success {
    color: lawngreen;
    font-weight: 700;
    font-family: var(--font-bold);
}
.form-error {
    color: red;
    font-weight: 700;
    font-family: var(--font-bold);
}
.enquiry_form_div .get_in_touch_form .form-row .invalid-feedback {
    color: red;
    font-weight: 700;
    font-family: var(--font-bold);
}
@media (max-width: 767px) {
    .enquiry_form_div {
        margin: auto;
        padding: 10px;
    }
    .enquiry_form_div .get_in_touch_form .form-row .form-control {
        padding: 10px 15px;
    }
    .enquiry_form_div .btn_submit_contact {
        padding: 10px 20px;
        font-size: 16px;
        line-height: 20px;
        min-width: 100px;
    }
}