.home_banner_section {
    background-image: url("../../../assests/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home_banner_section .home_banner_content {
    min-height: 771px;
    height: 100vh;
    padding: 10rem 0;
    display: flex;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.home_banner_content_div {
    background-color: rgba(217, 217, 217, calc(0.73 * 0.72));
    width: 541px;
    height: max-content;
    margin: auto 0 auto auto;
    padding: 40px 32px 57px;
}
.home_banner_heading {
    font-size: 45px;
    line-height: 47px;
    color: var(--color-primary);
    font-family: var(--font-bold);
    font-weight: 700;
    margin-bottom: 20px;
}
.home_banner_content_div .banner_text {
    font-size: 20px;
    line-height: 25px;
    color: var(--color-black);
    font-family: var(--font-medium);
    font-weight: 500;
    margin: 0;
}
@media (min-width: 1500px) and (min-height: 700px) {
    .home_banner_content_div {
        width: clamp(541px, 50%, 600px);
    }
    .home_banner_heading {
        font-size: clamp(45px, 6vh, 58px);
        line-height: 1;
    }
    .home_banner_content_div .banner_text {
        font-size: clamp(20px, 3vh, 32px);
        line-height: 1.2;
    }
}
@media (max-width: 767px) {
    .home_banner_heading {
        font-size: 42px;
        margin-bottom: 13px;
        line-height: 44px;
    }
    .home_banner_content_div .banner_text {
        font-size: 18px;
        line-height: 20px;
    }
    .home_banner_content_div {
        width: 450px;
        margin: auto;
        padding: 22px 20px;
    }
    .home_banner_section .home_banner_content {
        min-height: 508px;
        padding: 10rem 0 6rem;
        max-width: 100%;
    }
    .home_banner_section {
        background-image: url("../../../assests/images/banner_mobile.png");
    }
}
@media (max-width: 575px) {
    .home_banner_heading {
        font-size: 35px;
        line-height: 37px;
    }
    .home_banner_content_div .banner_text {
        font-size: 18px;
        line-height: 20px;
    }
    .home_banner_content_div {
        width: 326px;
    }
}