@font-face {
  font-family: "Montserrat";
  src: url('./assests/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url('./assests/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url('./assests/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url('./assests/fonts/Montserrat-SemiBold.ttf');
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #770A44;
  --color-light-pink: #FF48AA80;
  --color-form-bg: #FF48AA9E;
  --color-pink: #FF48AA;
  --color-light-pink: #FFD4EB;
  --color-transparent: transparent;
  --font-semibold: "Montserrat-SemiBold";
  --font-bold: "Montserrat-Bold";
  --font-medium: "Montserrat-Medium";
  --font-regular: "Montserrat";
  --bs-border-width: 0;
  --bs-border-radius-lg: 8px;
  --bs-body-bg: #FFFDFD;
}
*:focus,
*:focus-visible {
  box-shadow: unset !important;
}
body {
  font-family: var(--font-regular);
  font-size: 15px;
}
p {
  margin: 0;
}