@font-face {
  font-family: "Montserrat";
  src: url('./assests/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url('./assests/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url('./assests/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url('./assests/fonts/Montserrat-SemiBold.ttf');
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #770A44;
  --color-pink-50: #FF48AA80;
  --color-form-bg: #FF48AA9E;
  --color-pink: #FF48AA;
  --color-light-pink: #FFD4EB;
  --color-transparent: transparent;
  --font-semibold: "Montserrat-SemiBold";
  --font-bold: "Montserrat-Bold";
  --font-medium: "Montserrat-Medium";
  --font-regular: "Montserrat";
  --bs-border-width: 0;
  --bs-border-radius-lg: 8px;
  --bs-body-bg: #FFFDFD;
}
*:focus,
*:focus-visible {
  box-shadow: unset !important;
}
body {
  font-family: var(--font-regular);
  font-size: 15px;
  line-height: 18px;
  color: var(--color-black);
}
p {
  margin: 0;
}
.padding-top {
  padding-top: 5rem;
}
.padding-bottom {
  padding-bottom: 5rem;
}
.margin-2 {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .padding-top {
    padding-top: 4rem;
  }
  .padding-bottom {
    padding-bottom: 4rem;
  }
}
.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* Wobble horizontal shake */
@keyframes animation-wobble-horizontal {
    16.65% {
        transform: translateX(8px);
    }
    33.3% {
        transform: translateX(-6px);
    }
    49.95% {
        transform: translateX(4px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}